.game-header-brickbreaker {
    align-items: flex-end;

    .level {
        width: 2.8rem;
        height: 2.8rem;
        padding: 0.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(163, 231, 107);
        border-radius: 10rem;
    }

    .score {
        padding: 0.5rem;
    }
}